body{
    margin: 5% 5% 0 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr{
    border: 1px solid;
}

.title{
    color:green
}

div{
    padding-top:0.5%
}

.title2{
    color:rgba(17, 17, 224, 0.87);
}